.name {
	color: PaleTurquoise ;
	font-size: 60px;
}

.help {
	background-color: white;
}

p {
	font-size: 35px;
	font-family: 'Handlee', cursive;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
}
.navbar-brand {
	
	font-family: 'Handlee', cursive;
	font-size: 30px;
}

.sr-only {
	font-family: 'Handlee', cursive;
	font-size: 30px;
}

.active {
	font-family: 'Handlee', cursive;
	font-size: 30px;
}

.nav {
	font-family: 'Handlee', cursive;
	font-size: 30px;
}

.instapic {
  display: block;
   margin-left: auto;
   margin-right: auto;
}

.center {
	text-align: center;
}